*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {

    background-color: black;
    color: wheat;
    padding: 1rem;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    margin: 0 auto;
    background-color: red;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar-menu {
    display: none;
    list-style-type: none;
    
}